@font-face {
    font-family:cairoFont;
    src: url(../fonts/Cairo-Regular.ttf);
}

body{
    font-family: "cairoFont", Helvetica, sans-serif;
    background-color: #fafafa;
}
a{
    text-decoration:none !important;
    color: black;
}
h6{
    color: rgb(0, 0, 0) !important;
}
button{
    background-color: transparent !important;
    color: #bf40bf !important;
    border-color: #bf40bf !important;
}
.card .card-icons {
    position: relative;
}
.card .card-title{
    height: 56px;
    overflow: hidden;
}
time {
    position: absolute;
    bottom: 10px;
    left: 7px;
    background-color: black;
    color: #fff;
    padding: 0px 3px;
}
.card .fa-play{
    position: absolute;
    bottom: 41%;
    right: 41%;
    color: #2c3131c7;
    display: none;
}
.card:hover .fa-play{
    display: inline;
}
.card:hover{
    transform: translateY(-1%);
}
button:hover{
    color: #fff !important;
    background-color: #bf40bf !important;
}
.top-menu .bg-light{
    background-color:#fff !important;
}
#top-menu .video-icon{
    background-color: #bf40bf;
    color: #fff;
    border-radius: 15%;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .active>.nav-link{
    color: #fff;
    background-color:#bf40bf ;
}
.collapse #log-in{
    background-color:#bf40bf ;
    color: #fff;
}
#forgetPassword{
    color: #bf40bf;
}
.modal .modal-content .close{
    color: #bf40bf !important;
    background-color: transparent !important;
}
input.form-control:focus,
button:focus{
    box-shadow: none !important;
}
.top-menu .fa-bars{
    cursor: pointer;
}
.top-menu .sidebar{
    position: fixed;
    z-index: 4;
    right: -25rem;
    transition: 0.5s ease-in-out;
}
.top-menu .sidebar .purple{
    color: #bf40bf ;
}

.top-menu .sidebar .list-group-item:hover{
    color: #fff ;
    background-color: #bf40bf;
}

.top-menu .sidebar .list-group-item:hover .purple{
    color: #fff ;
}
#wrap.toggled .sidebar{
    right: 0rem;
}
.layer{
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    background-color:rgb(0, 0, 0,0.5);
    z-index: 3;
    display: none;
}
.navbar .search-icon{
    color: #bf40bf;
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 132px;
    padding: 15px 10px;
    display: none;
}


.navbar .search-icon:hover{
    color: #fff;
    background-color: #bf40bf;
}
.search-input{
    position: fixed;
    top: 72px;
    border: none;
    padding: 6px 23px;
    height: 45px;
    background-color: #efeeee;
    z-index: 1;
    display: none;
}
.search-input:focus{
    background-color: #efeeee;
}
.container-fluid .navbar .nav-link-log-in{
    color: #bf40bf !important;
    padding-right: 13px;
}
.container-fluid .content .head-title{
    padding-top: 15px;
    margin-top: 15px;
    margin-bottom: 30px;
}
.container-fluid{
    padding: 0px;
    overflow: hidden;
}
.card .card-horizontal .card-body p{
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-body{
    min-width: 0;
}
@media (max-width: 1066px) { 
    /* لإخفاء حقل البحث والزر بجانبه عند العرض 1066*/
    .navbar .collapse .form-inline{
        display: none;
    }
    .navbar .search-icon{
        display: inline;
    }
}
@media (min-width: 1066px){
    .search-input{
        display: none !important;
    }
}
@media (max-width: 991px) {
    .navbar b a {
        margin-right: 35vw;
    } 
}
@media (max-width: 575px) {
    .navbar .search-icon{
        left: 100px;
    }
}