.search-header .container .row .filter{
    cursor:pointer;
    color: #bf40bf;
}
.search-header .container .row .filter:hover{
    color: #fff;
    background-color: #bf40bf;
    padding: 3px;
}
.search-header{
    padding-top: 0px !important;
}
.search-header .container{
    padding: 0px;
}
.search-header .filter-box{
    display: none;
}
/*Changing the color when the user clik the option*/
input:checked+label{
    color: #bf40bf;
}
@media (max-width: 991px) {
    .card .card-top-image{
        width: 100%;
    }
    .card .card-horizontal .fa-play{
        right: 48%;
    }
}